<ion-view view-title="Today's Routes" ng-controller="ListCtrl">
   <ion-nav-buttons side="right">
      <button class="button button-positive" ng-click="logout()">
        Logout
      </button>
    </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-icon-right"
        href="#/routeDetails"
        ng-repeat="route in routes track by route.id">
        <h2>{{route.title}}</h2>
        <i class="icon ion-arrow-right-b"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>