/* Empty. Add your own CSS if you like */


p.Font {
    font: 16px arial, sans-serif;
    padding-left: 0.022cm;
    word-wrap: normal;
}

.custom-icon {
  font-size: 32px;
  color : black;
}

#header-content {
    position: relative;
    bottom: 0;
    left: 0;
  }

.menu-icon{
  color:white;
}

#map-canvas {
  width: 100%;
  height: 100%;
}

#addStepWrapper{
  overflow:hidden !important;
}
